<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
  <display-name>restApp</display-name>
  
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>
			org.springframework.web.servlet.DispatcherServlet
	</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!--  
  <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
 
       
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/tomcat-users.xml
		</param-value>
	</context-param>
  -->
  <!--  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name></web-resource-name>
  		<url-pattern>/*</url-pattern>
  		<http-method>GET</http-method>
  		<http-method>POST</http-method>
  	</web-resource-collection>
  	
  	<auth-constraint>
  		<role-name>admin</role-name>
  	</auth-constraint>
  	
  	<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
	</user-data-constraint>
  	
  </security-constraint>
  
  <login-config>
  	<auth-method>BASIC</auth-method>
  </login-config>
  
-->    
  
</web-app>
